*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/*Вся страница */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

/*Общее пространство для всех форм */
.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px; 
  max-width: 1140px; 
  max-height: 535px; 
  }

/*Левая половина сайта целиком*/
.result {
  /* width: 711px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Контайнер для видео в превью */
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  background-color: aqua;
}

/*Само видео в превью */
.result__video {
width: 100%;
height: 100%;
object-fit: cover;
}

/*Форма с тремя элементами (все что ниже превью)*/
.search-form {
  display: flex;
  justify-content: space-between;
}
/*Поле ввода + заголовок этого поля */
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/*Заголовок поля ввода */
 .search-form__fieldset-title {  
  display: flex;
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  /* text-decoration: none; */
}

/* Скрытое поле описания поля ввода */
.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

/* Делает элемент невидимым */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Само поле ввода */
.search-form__textfield {
  min-width: 225px;
  border: none;
  border-width: 2px;
  border-top: white solid 2px;
  border-bottom: white solid 2px;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  background-color: transparent;
  cursor: pointer;
  cursor: pointer;
  appearance: none;
}

/* Тут все чекбоксы */
.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: fit-content;
  color: white;
  font-family: Fira Sans 'Condensed';
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

/* Псевдоэлементы чекбоксов */
.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  background-color: black;
}

/*Псевдоэлементы */
.search-form__label:has(:focus-visible):not(:active) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox {
  outline: black solid 1px;
  outline-offset: -2px;
  background-color: white;
}

.search-form__label:has(:focus-visible):not(:active) {
  outline: 1px solid #fff;
  outline-offset: 4px;
}

.content__list-item:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

/* сама Кнопка */
.button {
  cursor: pointer;
}

/* Класс для кнопки */
.search-form__submit-button {
  align-self: center;
  width: 194px;
  padding: 5px;
  outline:  1px solid white;
  color: white;
  color: white;
  font-family: 'Fira Sans Condensed';
  font-weight: 700;
  font-size: 18px;
  word-wrap: break-word;
  background-color: transparent;
  cursor: pointer;
}

/* Правая часть сайта */
.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  gap: 26px;
  width: 100%;
  min-width: 400px; 
  height: 100%;
  min-height: 535px;
}
/* Большие буквы над карточками */
.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  cursor: default;
}

/* Первые 2 большие буквы */
.content__accent {
  color: #545050;
}

/* Список карточек */
.content__list {
  position: relative;
   display: flex; 
  flex-direction: column;
  align-items: end; 
  max-height: 298px;
  overflow: auto;
}

/* Отдельная карточка */
.content__list-item {
  display: flex;
  justify-content: flex-start;
  width: 390px;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

/* Ссылка на карточку */
.content__card-link {
  color: white;
  text-decoration: none;
}

/* Карточка видео */
.content__video-card {
  display: grid;
  grid-template-columns: 190px 190px;
  align-content: end;
  /* flex-direction: row; */
}

/* Описание карточки */
.content__video-card-description-container {
  width: 100%;
  /* display: flex; */
  height: 100%;
  padding-left: 3px;
}

/* Заголовок карточки */
.content__video-card-title {
  font-family: Oswald;
  font-weight: 700px;
  font-size: 30px;
  line-height: 30px;
}

/* Описание карточки (слева от фото) */
.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-weight: 400px;
  font-size: 18px;
  /* line-height: 16.2px; */
}

/* Фото карточки */
.content__video-card-thumbnail {
  flex-grow: 1;
  max-width: 194px;
  max-height: 103px;
  object-fit: cover;
  object-position: center;
}

/* Контейнер для кнопки "Показать еще" */
.more-button-template {
width: 100%;
}

/* Кнопка "Показать еще" */
.more-button {
  width: 385px;
  margin-bottom: 2px;
  outline:  1px solid white;
  color: white;
  font-family: 'Fira Sans Condensed';
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  /* margin-bottom: 5px; */
}
