*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  inline-size: 1200px;
  block-size: 100%;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}


h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  max-width: 1140px; 
  max-height: 535px;
  gap: 30px; 
  }

.result {
  /* width: 711px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.result__video-container {
  position: relative;
  background-color: aqua;
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
}
.result__video {
object-fit: cover;
height: 100%;
width: 100%;
}
.search-form {
  display: flex;
  justify-content: space-between;
}
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.search-form__fieldset-title {
  display: flex;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: #fff;
  /* text-decoration: none; */
}
.search-form__label {
  display: flex;
  align-items: center;
gap: 5px;
  width: fit-content;
}
.search-form__label-text {
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.search-form__textfield {
  appearance: none;
  cursor: pointer;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  border: none;
  border-bottom: white solid 2px;
  border-top: white solid 2px;
  border-width: 2px;
  background-color: transparent;
  min-width: 225px;
}
.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  font-family: Fira Sans 'Condensed';
  color: white;
  font-size: 18px;
  font-weight: 400;
  width: fit-content;
  gap: 10px;
  /* min-width: 200px; */
}
.search-form__checkbox {
}

.search-form__pseudo-checkbox {
  display: inline-block;
  height: 19px;
  width: 19px;
  border: 1px solid white;
  background-color: black;
 
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox {
  background-color: white;
  outline: black solid 1px;
  outline-offset: -2px;
}


.button {
  cursor: pointer;
  /* justify-items: center; */

}
.search-form__submit-button {
  width: 194px;
  color: white;
  align-self: center;
  background-color: transparent;
  outline:  1px solid white;
  color: white;
font-size: 18px;
font-family: Fira Sans Condensed;
font-weight: 700;
word-wrap: break-word;
}
.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  gap: 26px; 
  height: 100%;
  width: 100%;
  min-height: 535px;
  min-width: 400px;
}
.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;

}

.content__accent {
  color: #545050;
  /* position: relative;
  z-index: -1;   */
}

/* 
.content__accent::before {
content: '';
position: absolute;
inset: 0;
background-color:rgba(27, 25, 25, 0.5);
z-index: 0;
} */


.content__list {
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: end; */
  max-height: 298px;
  overflow: auto;
}
.preloader-template {
}
.preloader {
}
.preloader-chasing-squares {
}
.square {
}
.cards-list-item-template {
}
.content__list-item {
  display: flex;
  justify-content: flex-start;

  width: 394px;

}

.content__list-item:not(:last-of-type) {
  
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  color: white;
}
.content__video-card {
  display: grid;
  grid-template-columns: 194px 200px;
  align-content: end;
  /* flex-direction: row; */
}
.content__video-card-description-container {
  /* display: flex; */
  height: 100%;
  width: 100%;
}
.content__video-card-title {
  font-family: Oswald;
  font-weight: 700px;
  font-size: 30px;
  line-height: 30px;
}
.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-weight: 400px;
  font-size: 18px;
  line-height: 16.2px;
}
.content__video-card-thumbnail {
  max-height: 103px;
  max-width: 194px;
  flex-grow: 1;
  object-fit: cover;

}
.more-button-template {
}
.more-button {
}
.error-template {
}
.error {
}
.error__title {
}


